# Set the default behavior to normalize line endings
* text=auto

# Explicitly declare files that will always have LF line endings on checkout
*.csv text eol=lf

# Explicitly declare files that will always have CRLF line endings on checkout
*.xml text eol=crlf
